body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

nav {
    padding-left: 5px;
    height: 100px;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav a {
    padding: 0px 8px 8px 17px;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav a:hover {
    color: #f1f1f1;
}

.nav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
}

.openbtn {
    cursor: pointer;
    font-size: 36px;
    padding-left: 14px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.header li {
    list-style-type: none;
    color: white;
}

.logo {
    padding-top: 5px;
    font-size: 30px;
    font-family: Impact;
}

.log-in {
    font-family: Arial;
    font-size: 20px;
    padding: 15px 20px 0 0;
}

.log-in a {
    color: white;
}

.changeColor {
    background-color: rgba(199, 72, 1, 0.9);
}

.back-1 {
    text-align: center;
}

/*iframe{*/
/*    transform: scale(100%);*/
/*}*/
.in-2 {
    height: auto;
    padding-top: 5%;
    padding-left: 3%;
}

.single {
    display: flex;
    padding-top: 3%;
}

.single div {
    width: 100%;
}

.single img {
    height: 400px;
    width: 95%;
}

.row-1, .row-2, .row-3 {
    display: flex;
    padding-top: 2%;
}

.row-1 div, .row-2 div, .row-3 div {
    margin-right: -1.4%;
}

.double div {
    width: 100%;
    padding-right: .6%;
}

.double img {
    height: 400px;
    width: 95%;
}

main h1 {
    font-size: 40px;
}

main span {
    font-size: 20px;
}
.in-3{
    display: flex;
}
.in-3 h1{
    padding-top: 15%;
    font-size: 100px;
}
.in-3 div{
    text-align: center;
    width: 100%;
}
.statistics{
    display: block;
    padding-top: 5%;
}
.statistics .san{
    font-size: 100px;
}
.statistics .sec{
    font-size: 50px;
}

@media only screen and (max-width: 1200px) {
    .single, .row-1, .row-2, .row-3 , .in-3{
        display: block;
    }

    .single div {
        padding-top: 4%;
    }

    .row-1 div, .row-2 div, .row-3 div {
        padding-top: 4%;
    }

}