.Newsid{
    font-size: 32px;
    margin-left: 16.5vw;
    color: #212225;
    font-family: Inter Regular , sans-serif;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: bold;
}
.news_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.news{
    max-width: 800px;
}
.news img{
    width: 100%;
    height: 400px;
    border-radius: 16px;
}
.more{
    height: 100%;
    width: 100%;
}
.more {
    width: 300px;
    border: 1px solid #dae9f4;
    border-radius: 20px;
    padding: 18px 18px 8px;
    position: sticky;
    position: -webkit-sticky;
    top: 80px;
    margin-bottom: 6%;

}
a {
    text-decoration: none;
    color: #000;

}
.more-items, .more-news{
    margin-top: 28px;
}
.news{
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
}
.news, .news-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.news-image {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative;
}
.date{
    font-weight: 400;
    font-size: 14px;
    color: #6d7784;
    margin-bottom: 8px;
}
.name{
    margin-bottom: 8px;
    font-size: 17px;
}
hr{
    border: 0.5px solid #dae9f4;
}
.hotel-data-desc{
    color: #4f5864e0;
    font-size: 17px;
    font-family: "Lato", sans-serif;
    margin-top: 2%;
    margin-bottom: 6%;
}