
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.in-1 {
    padding-left: 10%;
    margin-top: 5%;
}

.in-1 h1 {
    margin: 7% 0;
}
.contents{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    grid-gap: 24px;
    gap: 24px;
    margin-bottom: 5%;
}
.ticket {
    display: flex;
    width: 30%;
    min-width: 390px;
    border: 2px solid #f1f6fa;
    border-radius: 25px;
    margin: .5%;
}

.ticket small {
    color: #79838e;
}

.ticket img {
    width: 170px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 25px;
}
.ticket span {
    vertical-align: top;
    padding-right: 3%;
    font-size: 16px;
}

.info {
    width: 100%;
    padding-top: 5%;
}

.info hr {
    margin-top:50px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.warn {
    color: red;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details span {
    min-width: 100px;
}

@media screen and (max-width: 940px) {
    .ticket{
        width: 90%;
    }
}
@media screen and(max-width: 941px) and (max-width: 1420px) {
    .ticket{
        width: 45%;
    }
}