
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #989898;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.logo {
    width: 55px;
    vertical-align: middle;
}

#main {
    border: 3px solid #ebeff2;
    border-radius: 12px;
    padding: 2px 0;
    background-color: rgb(5, 161, 5);
    margin-left: .5%;
    width: 40px;
    text-align: center;
}

.id {
    display: flex;
    min-width: 200px;
}

.main {
    font-size: 25px;
    cursor: pointer;
    color: #ebeff2;
}


.header {
    display: flex;
}

#register_id, #Sign_in_id {
    border: 3px solid #ebeff2;
    border-radius: 12px;
    min-width: 80px;
    background-color: #fff;
}

#Sign_in_id {
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 18px;
    padding-top: 11px;
    background-color: #75b6f2;
    color: #ebeff2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#register_id {
    margin-right: 1%;
    padding-top: 11px;
    font-size: 18px;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #fc0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#KOLSAI_ID {
    min-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box
}

.in-1 {
    padding-left: 10%;
    margin-top: 5%;
}

.in-1 h1 {
    margin: 7% 0;
}
.contents{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    grid-gap: 24px;
    gap: 24px;
    margin-bottom: 5%;
}
.ticket {
    display: flex;
    width: 30%;
    min-width: 390px;
    border: 2px solid #f1f6fa;
    border-radius: 25px;
    margin: .5%;
}

.ticket small {
    color: #79838e;
}

.ticket img {
    width: 170px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 25px;
}
.ticket span {
    vertical-align: top;
    padding-right: 3%;
    font-size: 16px;
}

.info {
    width: 100%;
    padding-top: 5%;
}

.info hr {
    margin-top:50px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.warn {
    color: red;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details span {
    min-width: 100px;
}



footer {
    background-color: #1f1f1f;
    color: rgba(218, 216, 216, 0.933);
    padding: 2% 0;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0 0;
}


.f-1 {
    width: 40%;
    display: flex;
}

.f-1 div {
    width: 50%;
    min-width: 20%;
}

footer li {
    padding-top: 3%;
    list-style-type: none;
}

footer a {
    color: rgba(125, 123, 123, 0.959);
    text-decoration: none;
}

@media screen and (max-width: 940px) {
    .ticket{
        width: 90%;
    }
}
@media screen and(max-width: 941px) and (max-width: 1420px) {
    .ticket{
        width: 45%;
    }
}
@media  screen and (max-width: 800px) {
    .f-1 {
        justify-content: center;
        padding-left: 15%;
        width: 80%;
        margin-bottom: 5%;
    }

    .f-1 div {
        min-width: 60%;
    }

    footer {
        display: block;
    }
}